{% extends "base.html" %}
{% load static i18n %}

{% block title %}{% trans "Admin Home" %}{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}

{% include "navbar.html" %}

<div class="container">

    <div class="quick-links">
        <div class="link-item"><a href="{% url 'manage-colleges' %}">🏫 {% trans "Manage Colleges" %}</a></div>
        <div class="link-item"><a href="{% url 'manage-coordinators' %}">🧑‍💼 {% trans "Manage Main Coordinators" %}</a></div>
    </div>
</div>

{% endblock %}
