{% extends "base.html" %}

{% load static %}

{% block title %}Send Feedback{% endblock %}

<!-- {% block head %}
<link rel="stylesheet" href="{% static 'css/feedbacks/send_feedback.css' %}">
{% endblock %} -->

{% block content %}
<div class="container">
    <h2>Send Feedback to a Teacher</h2>

    {% if error %}
        <div style="color:red;">{{ error }}</div>
    {% endif %}

    <form method="POST" enctype="multipart/form-data" action="{% url 'teacher-review-exchanges' %}">
        {% csrf_token %}
        <div>
            <label>Select project:</label>
            <select name="project" required>
                <option value="">-- Select project --</option>
                {% for project in projects %}
                    <option value="{{ project.id }}">{{ project.name }}</option>
                {% endfor %}
            </select>
        </div>
         
        <div>
            <label>Title:</label>
            <input type="text" name="title" required>
        </div>
        <div>
            <label>Message (optional):</label>
            <textarea name="message" rows="4"></textarea>
        </div>

        <div>
            <label>Attach File(s):</label>
            <input type="file" name="files" multiple>
        </div>

        <button type="submit">Send Feedback</button>
    </form>
</div>
{% endblock %}
