{% load static %}
<link rel="stylesheet" href="{% static 'css/navbar.css' %}">

<!-- Global Navigation Bar -->
<nav class="navbar">
    <h2 class="logo">
        <a href="/">
            <img src="{% static 'images/lo.png' %}" alt="Site Logo" style="height: 40px;">
        </a>
    </h2>
    

    <ul class="nav-links">
        {% if user.is_authenticated %}
            {% if user.admin %}
                <!-- Navbar for Admin -->
                <li><a href="{% url 'profile-page' %}">Profile</a></li>
                <li><a href="#">Notifications</a></li>
                <li><a href="{% url 'coordinator-dashboard' %}">Dashboard</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>

            {% elif user.coordinator %}
                <!-- Navbar for Coordinator -->
                <li><a href="{% url 'profile-page' %}">Profile</a></li>
                <li><a href="#">Notifications</a></li>
                <li><a href="{% url 'coordinator-dashboard' %}">Dashboard</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>

            {% elif user.student %}
                <!-- Navbar for Student -->
                <li><a href="{% url 'profile-page' %}">Profile</a></li>
                <li><a href="#">Notifications</a></li>
                <li><a href="#">Dashboard</a></li>
                <li><a href="#">Grades</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>

            {% else %}
                <!-- Navbar for Teacher -->
                <li><a href="{% url 'profile-page' %}">Profile</a></li>
                <li><a href="#">Notifications</a></li>
                <li><a href="#">Dashboard</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>

            {% endif %}
        {% else %}
            <!-- If user is not logged in -->
            <li><a href="{% url 'login' %}">Login</a></li>
        {% endif %}
    </ul>
</nav>
