{% load static i18n %}
<link rel="stylesheet" href="{% static 'css/navbar.css' %}">

<!-- Global Navigation Bar -->
<nav class="navbar">
    <div class="logo">
        <a href="/">
            <img src="{% static 'images/lo.png' %}" alt="Site Logo" class="lo">
        </a>
        <h2 class="site-name">{% trans "Graduation System" %}</h2>
    </div>

    <ul class="nav-links">
        {% if user.is_authenticated %}
            {% if user.admin %}
                <!-- Navbar for Admin -->
                <li><a href="{% url 'profile-page' %}">{% trans "Profile" %}</a></li>
                <li><a href="{% url 'notification-list' %}">{% trans "Notifications" %}</a></li>
                <li><a href="{% url 'coordinator-dashboard' %}">{% trans "Dashboard" %}</a></li>
                <li><a href="{% url 'logout' %}">{% trans "Logout" %}</a></li>

            {% elif user.coordinator %}
                <!-- Navbar for Coordinator -->
                <li><a href="{% url 'profile-page' %}">{% trans "Profile" %}</a></li>
                <li><a href="{% url 'notification-list' %}">{% trans "Notifications" %}</a></li>
                <li><a href="{% url 'coordinator-dashboard' %}">{% trans "Dashboard" %}</a></li>
                <li><a href="{% url 'logout' %}">{% trans "Logout" %}</a></li>

            {% elif user.student %}
                <!-- Navbar for Student -->
                <li><a href="{% url 'profile-page' %}">{% trans "Profile" %}</a></li>
                <li class="notification-link">
                    <a href="{% url 'notification-list' %}" class="notification-anchor">
                        {% trans Notifications %}
                      {% if unread_notifications_count > 0 %}
                        <span class="notification-badge">{{ unread_notifications_count }}</span>
                      {% endif %}
                    </a>
                </li>
                <li><a href="#">{% trans "Dashboard" %}</a></li>
                <li><a href="#">{% trans "Grades" %}</a></li>
                <li><a href="{% url 'logout' %}">{% trans "Logout" %}</a></li>

            {% else %}
                <!-- Navbar for Teacher -->
                <li><a href="{% url 'profile-page' %}">{% trans "Profile" %}</a></li>
                <li class="notification-link">
                    <a href="{% url 'notification-list' %}" class="notification-anchor">
                        {% trans Notifications %}
                      {% if unread_notifications_count > 0 %}
                        <span class="notification-badge">{{ unread_notifications_count }}</span>
                      {% endif %}
                    </a>
                </li>
                <li><a href="#">{% trans "Dashboard" %}</a></li>
                <li><a href="{% url 'logout' %}">{% trans "Logout" %}</a></li>

            {% endif %}
        {% else %}
            <!-- If user is not logged in -->
            <li><a href="{% url 'login' %}">{% trans "Login" %}</a></li>
        {% endif %}
    </ul>
</nav>
