{% extends "base.html" %}

{% block content %}
<h2>{{ form.name }}</h2>
<ul>
    {% for main_category in form.main_categories.all %}
    <li>
        <strong>{{ main_category.number }}. {{ main_category.text }}</strong> ({{ main_category.grade_type }}, Weight: {{ main_category.weight }})
        <ul>
            {% for sub_category in main_category.sub_categories.all %}
            <li>{{ sub_category.text }}</li>
            {% endfor %}
        </ul>
    </li>
    {% endfor %}
</ul>
<a href="{% url 'form:edit_evaluation_form' form.id %}">Edit Form</a>
{% endblock %}
